<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Kontostand: {{ endSum | currency:'EUR' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let transaction of transactions">
          <ion-label style="font-size: 24px">
            <h2>{{ transaction.description }}</h2>
            <!-- display transaction.date in german format -->

            <p>
              {{ transaction.date | date:'shortDate':'' }} {{ transaction.date |
              date:'mediumTime':'' }}
            </p>
          </ion-label>
          <ion-note
            slot="end"
            color="{{ transaction.amount > 0 ? 'success' : 'danger' }}"
          >
            {{ transaction.amount | currency:'EUR':'symbol':'1.2-2' }}
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Summe</h2>
        </ion-label>
        <ion-note slot="end" color="{{ endSum >= 0 ? 'success' : 'danger' }}">
          {{ endSum | currency:'EUR':'symbol':'1.2-2' }}
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="paypal">
    <img src="assets/paypal.jpg" class="paypal" (click)="addTransaction()" />
  </div>
</ion-content>
