<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Share your drink! </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/logo.png" alt="Logo" class="logo" style="max-height: 20%" />
  <img
    src="assets/placeholder.png"
    alt="Placeholder"
    class="picture"
    *ngIf="!picture"
  />
  <img [src]="picture" alt="Picture" class="picture" *ngIf="picture" />
  <div class="button-container" *ngIf="!picture">
    <ion-button (click)="takePicture()">Take Picture</ion-button>
  </div>
</ion-content>
